# Environment files & Secrets
.env
.env.local
.env.*.local
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Dependencies
node_modules/

# System / Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.timestamp-*.mjs

